body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}





.portfolio {
  background: #fff;
  border: 1px solid #999;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.page {
  display: flex;
  flex-direction: row;
}


