body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.portfolio {
  background: #fff;
  border: 1px solid #999;
}


.portfoliopanel {
  display: flex;
  flex-direction: row;
}
